[defaults]
inventory  = ./inventory
roles_path = ./roles

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
pipelining = True
become = True
host_key_checking = False
# callback_whitelist = profile_tasks
